.header{
    position: fixed;
    width: 100vw;
    border-bottom: 1px solid var(--bg-primario);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: var(--bg-secundario);
    z-index: 100;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav__logo{
    height: 60px;
}

.nav__list{
    display : flex;
    gap: 1.5rem;
}


.nav__link{
    color: var(--text-primario);
    font-size: 1.7rem;
    font-weight: 500;
    transition: background 0.3s ease;
    padding: 10px 2rem;
    display: block;
}

.nav__item{
    width: 100%;
    padding: 1rem 1.5rem;
}

.nav__item:hover{
    background: var(--bg-primario);
    border-radius: 5px;
}

.nav__toggle{
    font-size: 3rem;
    padding: 0.05rem;
    color: var(--text-primario);
    display: none;
}

.linkActive,
.nav__link:hover{
    background: var(--bg-primario);
    border-radius: 5px;
}

@media screen and (max-width: 768px){
    .nav__list{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100vw;
        background: var(--bg-secundario);
        transition: clip-path 0.5s ease;
        flex-direction: column;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        padding: 2rem 0;
        border-bottom: 2px solid var(--bg-primario);
    }

    .nav__list.show{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .nav__item{
        padding: 1rem;
        text-align: center;
    }

    .nav__toggle{
        display: block;
    }
}