.proyectos{
    padding: 6.5rem 0;
    text-align: center;
}

.proyectos__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 10px;
    margin-top: 50px;
}

.proyectos__item{
    position: relative;
    background: rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.proyectos__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.proyectos__subtitle{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.proyectos__description{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.proyectos__tag{
    padding: 5px 10px;
    background: var(--bg-secundario);
    margin: 5px;
    /* letras capitalizadas */
    text-transform: uppercase;
    display: inline-block;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--bg-prmario);
}


.proyectos__links{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.proyectos__links a{
    padding: 10px 20px;
    background: var(--bg-primario);
    border-radius: 5px;
    transition: background 0.3s ease;
}

.proyectos__info a i{
    font-size: 2rem;
}

.proyectos__links a:hover{
    background: var(--bg-primario-hover);
}

.proyectos__links .disabled-a{
    background: var(--bg-primario-hover);
    cursor: not-allowed;
}

.proyectos__img{
    height: 35rem;
    max-height: 270px;
}

.proyectos__img img{
    width: 100%;
    object-position: top;
    object-fit: cover;
}


/* filtrado de proyectos */
.proyecto__filter{
    display: flex;
    justify-content: center;
}

.proyecto__filter-btn{
    padding: 10px 20px;
    background: var(--bg-primario);
    border-radius: 5px;
    transition: background  0.3s ease;
    transition: transform 0.3s ease;
    margin: 0 10px;
    font-size: 2rem;
    color: var(--text-primario);
}


.active-filter,
.proyecto__filter-btn:hover
{
    background: var(--bg-primario-hover);
    transform: scale(1.1);
}